.idea
nbproject
.vscode
cs

src/config/.local.php
src/vendor
src/node_modules
src/public/hot
src/public/storage


src/config/enabled/local_test.php
src/modules/local_test









